{% extends 'base.html' %}

{%block content%}
<div class="main">
<div class="impress">
 <h2>Welcome to DC world as we wait for 
     the ADAM PROJECT to be released on april</h2> 
 </div>
 <div class="offers">
 <div class="cover">
     <h3>Family Health Cover</h3>
 </div>
 <div class="cover">
    <h3>Motor Insurance</h3>
 </div>
 <div class="cover">
    <h3>Individual Pension Plan</h3>
 </div>
</div>
 <div class="offers">
 <div class="cover">
    <h3>Education Plan</h3>
</div>
<div class="cover">
   <h3>Fire/Bulgury Cover</h3>
</div>
<div class="cover"> 
   <h3>Travel Insurance</h3>
</div>
 </div>
 <h3>REQUEST ASSISTANCE </h3>
 <div class="assistance">
     <p>We will acknowledge/respond to your queries received from various platforms within the timelines of our Customer Service Charter. We promise to respond to all your requests in a professional & timely manner</p>
</div>
</div>
{% endblock %}

